.button{
  border: none;
  box-shadow: none;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  margin: 8px;
  padding: 8px 12px;
  background: #E2E8F022;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  color: #E2E8F0;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
}