@import "styles/include";

.main-top{
  padding: 50px 80px;
  background-color: gray;
  text-align: center;
  color: white;
}

.main-body{
  text-align: center;
  padding: 50px;
}

h1, h2, h3 {
  line-height: 170%;
}